body{
    bottom: 0;
    background-color: bisque;
    height: 100%;
}
html{
    height: 100%
}


footer{
    position:absolute;

margin-top: 2px;
    bottom:  0;

    width:100%;
    background:#999;

    font-size: 1.2rem;
text-align: center
}
.footer2{
    position:relative;
    margin-top: 20px;

}

form{
    font-size: 18px;
}

nav ul{
  padding-inline-start: 0;
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    text-align:center;
    box-sizing: border-box;
}
nav ul li{


    flex-basis: 33.33%;
    margin-left: 2px;
    padding: 1rem;
    background-color: black;
}
.huidigepagina{
    text-decoration: underline;
}

nav ul li a {
 font-size: 20pt;
    color:red;
    font-weight: bold;
     text-decoration: none;

}
.tabletitle{
    background-color: orange;
    text-align:center;
  font-size: 15pt;

}
table {



    text-align: center;
    background-color: antiquewhite;
    padding-bottom: 2rem;
}
th {
    width: 16.66666% ;
padding: 1rem;

}

table,td{
    border: 1px   gray;
    font-size: 12pt;
    text-align: center;

}
.title{
    font-size: 2.5rem;
    text-align: center;
    background-image: url("afbeelding/photo.jpg");
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
color: white;
    padding: 2rem;
}

.middelbody{

    padding: 2px;
    font-size: 18pt;


}
table{
    font-size: 1rem;

}





@media screen and (min-height: 800px  ) {

    nav>ul{
        flex-direction: column;
    }


    ul>li{

    }

    ul li a{


    }
    input{
        font-size: 50px;

    }

    h1{
        font-size: 1em;
    }

    table{
        width: 100%;
    }
    footer{
        position: absolute;
        bottom: 10pt;

        font-size: 30pt;
         align-content: center;

    }
    label{
        font-size: 35px;
    }
 td,th{
     font-size:30px;
     padding: 5px;
 }


}